html
{
    --main-color: #3067FA;
    --secondary-color: #2A8BDE;
    --footer-color: #2F2F3D;

    height: 100vh;
}

html, body
{
  margin: 0px;
}

header
{
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  min-height: 75px;
  flex: 0 1 auto;
}

.header-inner-container
{
  display: flex;
  width: 65vw;
  justify-content: space-between;
}

@media only screen and (max-width: 1500px)
{
  header ul
  {
    width: 40%;
  }
  
  .margin
  {
    width: 10%;
  }
}

@media only screen and (min-width: 1500px)
{
  header ul
  {
    width: 30%;
  }
  
  .margin
  {
    width: 15%;
  }
}

header ul
{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  align-items: center;
}

header li, header a
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

header li a
{
  text-decoration: none;
  flex: 2;
}

header li a, header li a:visited
{
  color: black;
}

header li:hover
{
  background-color: var(--secondary-color);
}

body
{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main
{
  display: flex;
  width: 100%;
  min-height: 100%;
  flex: 1 1 auto;
  overflow: auto;
}

.page-center
{
  flex-direction: column;
  flex: 2;
  padding: 3%;
  box-shadow: 3px 3px 3px -3px gray, -3px 0px 3px -3px gray;
  min-height: 100%;
  min-height: fit-content;
  justify-content: start;
}

footer
{
  flex: 0 1 40px;
  background-color: var(--footer-color);
}