.video
{
    width: 80%;
    height: 500px;
    border-radius: 2px;
    border-style: solid;
    margin: auto;
}

h1, h2
{
    margin-left: 10%;
}

p
{
    font-size: 1.25em;
    margin-left: 5%;
    margin-right: 5%
}

.lists
{
    display: flex;
    justify-content: space-around;
}

.get-button
{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    height: 3em;
}

.button-container
{
    width: 100%;
    display: flex;
}